* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}
.mobile {
    display: none;
}

.nav {
    width: 100%;
    background-color: #000;
    height: 5rem;
}

.desktop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    padding-left: 1.7rem;
}

.primario,
.secundario {
    display: flex;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #fff;
    padding: 1.7rem 1.7rem;
    display: block;
    width: 100%;
}

li a:hover {
    color: #000;
    background-color: #fff;
}


.mini {
    display: none;
}

@media screen and (max-width: 650px) {
    .secundario {
        display: none;
    }

    .mini {
        display: block;
        position: relative;
    }

    .sub-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        background-color: #000;
        top: 5rem;
        right: 0;
        height: 150px;
        display: none;
    }
    
    .accion:hover .sub-menu {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }
    
    .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
    }

    .header-mobile {
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .icon {
        color: #fff;
        background-color: #000;
    }

    .links-mobile {
        background-color: #000;
    }
}