* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    
    background-color: lightcoral;
}
a {
    text-decoration: none;
}
header {
    width: 100vw;
    background-color: aqua;
}
.nav {
    width: 100%;
    height: 5rem;
    padding: 1rem;
    background-color: #000;
}

.nav-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list div {
    display: flex;
    height: 100%;
}
.nav-list div li {
    margin-left: 0.8rem;
}
.nav-list li {
    height: 100%;
    list-style: none;
    display: flex;
}

li a {
    color: #fff;
    height: 100%;
    padding: 0 0.3rem 0;
    display: flex;
    align-items: center;
}

.nav-list li a:hover {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 0.5rem;
}
